.bestServicesContainer {
  height: 100vh;
  width: 100%;
  position: relative;

  display: flex;
  align-items: center;

  img {
    height: 100vh;
    position: absolute;
  }

  background: var(--white-900);
}
.bestServiceContent {
  z-index: 1;
  max-width: 1120px;
  margin: 0 auto;
  .textAreaContent {
    max-width: 24.8rem;
    margin-left: 35rem;
    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    p {
      font-family: "Mulish";
      color: var(--gray-400);
      margin: 2rem 0;
      text-align: justify;
    }
    button {
      padding: 0 1rem;
      height: 3rem;
      background: var(--green-600);
      border: 0;
      border-radius: 0.25rem;
      color: var(--white-900);
      box-shadow: 0 5px 13px 2px #dddddd;
    }
  }
}


@media(max-width:940px){
  .bestServicesContainer {
    img {
      display: none;
    }

    .bestServiceContent {
      // border: 2px solid red;
      .textAreaContent {
        display: flex;
        flex-direction: column;
        max-width: 60%;
        margin: 0 auto;
        h2 {
          font-size: 2.5rem;
          text-align: center;
          margin: 0;
        }
        p {
          font-size: 1.5rem;
          margin: 1rem 0;
        }
        button {
          margin: 1rem auto;
        }


      }
    }

  }
}
@media(max-width: 450px) {
  .bestServicesContainer { 
    .bestServiceContent {
      .textAreaContent {
        max-width: 90%;
      }
    }
  }
}