.footerContainer {

  font: 16px "Mulish" var(--purple-900);

  width: 100%;
  height: 5rem;
}

.footerContent {
    max-width: 1120px;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
   div {
     margin-left: auto;
     color: var(--purple-200);
     span + span {
        margin-left: 2rem;
     }
   }
}
@media(max-width: 1150px) {
  .footerContainer {
    border-top: 1px solid var(--gray-350);
  }
  .footerContent {

    max-width: 1000px;
    > p {
      margin-left: 2rem;
    }
    div {
      margin-right: 2rem;
    }
  }
}

@media(max-width: 500px) {
  .footerContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      margin: 0;
      padding-top: 1rem;
    }
  }
}
@media(max-width: 500px) {
  .footerContent {
   
    p {
      text-align: center;
    }

    div {
      margin: 0;
      padding-top: 1rem;
    }
  }
}