
.menuToggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--green-800);

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 20;

  a {
    display: block;
    color: var(--white-900);
    font-size: 2rem;
    padding: 1rem 0;
  }
  button {
    margin-top: 1rem;
    width: 10rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
}